<body>
<mat-card class="signupclass">
<div class="form">
<ngContainer [formGroup]='signupForm'>
    <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName='username'>
    </mat-form-field><br>
    <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName='password1'>
    </mat-form-field><br>
    <mat-form-field>
    <mat-label>Please confirm password</mat-label>
    <input matInput type="password" formControlName='password2'>
    </mat-form-field><br>
    
    <p style="font-size: 18px; color: rgb(92, 91, 91)">Select your college</p>
    <select style='width:300px; height:30px; font-size: 18px' ng-size='40' formControlName="college">
        <option style='width:300px; height:50px' ng-size='40' *ngFor="let college of colleges" [ngValue]="college">
          {{ college }}
        </option>
    </select><br><br>
    
  
    <button mat-raised-button style="background-color: #b1b1b1; margin-bottom: 3%" (click)="onSubmit()">Register</button>
</ngContainer>
</div>
</mat-card>
</body>