<body>
<mat-card class="loginclass">
<div class="form">
<ngContainer [formGroup]='loginForm'>
    <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text"formControlName='username'>
    </mat-form-field><br>
    <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName='password'>
    </mat-form-field><br>

 <button mat-raised-button style="background-color: #b1b1b1; margin-bottom: 3%" (click)="onSubmit()">Login</button>

</ngContainer>
</div>
</mat-card>
</body>